body{
	margin: 0;
	background-color: #5CB85C;
}

.container{
	height: 1000px;
	width: 500px;
	margin: 0 auto;
}

.header{
	height:333px;
	width: 100%;
	background-color: blue;
}

.main{
	height:333px;
	width: 100%;
	background-color: red;
}

.footer{
	height:333px;
	width: 100%;
	background-color: grey;
}