		@mixin menu-one(){
			overflow: hidden;
			color: white;
			padding: 0;
			text-align: center;
			margin: 0;
		}
		@mixin menu-two(){
			display: inline-block;
			padding: 20px;
		}
		@mixin menu-three(){
			display: none;
		}

	